mixin card-routes(imgsrc, name, text)
	.section-routes__item
		.section-routes__img 
			img(src='./img/' + imgsrc +'' alt='')
		.section-routes__inner
			.section-routes__desc 
				a.section-routes__title(href="")= name
				.section-routes__text= text
				.section-routes__price Цена от 5 000 ₽
				a.squade-arrow(href="")
					<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.6694 23.6694C25.5 21.8388 25.5 18.8926 25.5 13C25.5 7.10744 25.5 4.16116 23.6694 2.33058C21.8388 0.5 18.8926 0.5 13 0.5C7.10744 0.5 4.16116 0.5 2.33058 2.33058C0.5 4.16116 0.5 7.10744 0.5 13C0.5 18.8926 0.5 21.8388 2.33058 23.6694C4.16116 25.5 7.10744 25.5 13 25.5C18.8926 25.5 21.8388 25.5 23.6694 23.6694ZM16.5355 8.52697C17.0533 8.52697 17.473 8.9467 17.473 9.46447L17.473 14.7678C17.473 15.2855 17.0533 15.7053 16.5355 15.7053C16.0178 15.7053 15.598 15.2855 15.598 14.7678L15.598 11.7278L10.1274 17.1984C9.76126 17.5646 9.16767 17.5646 8.80155 17.1984C8.43544 16.8323 8.43544 16.2387 8.80155 15.8726L14.2722 10.402H11.2322C10.7145 10.402 10.2947 9.98223 10.2947 9.46447C10.2947 8.9467 10.7145 8.52697 11.2322 8.52697L16.5355 8.52697Z" fill="#FFF1EA"/></svg>
mixin card-fleet(imgsrc, name, text)
	.section-routes__item
		.section-routes__img 
			img(src='./img/' + imgsrc +'' alt='')
		.section-routes__inner
			.section-routes__status Премиум
			.section-routes__desc 
				a.section-routes__title(href="")= name
				.section-routes__text= text
				a.squade-arrow(href="")
					<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M23.6694 23.6694C25.5 21.8388 25.5 18.8926 25.5 13C25.5 7.10744 25.5 4.16116 23.6694 2.33058C21.8388 0.5 18.8926 0.5 13 0.5C7.10744 0.5 4.16116 0.5 2.33058 2.33058C0.5 4.16116 0.5 7.10744 0.5 13C0.5 18.8926 0.5 21.8388 2.33058 23.6694C4.16116 25.5 7.10744 25.5 13 25.5C18.8926 25.5 21.8388 25.5 23.6694 23.6694ZM16.5355 8.52697C17.0533 8.52697 17.473 8.9467 17.473 9.46447L17.473 14.7678C17.473 15.2855 17.0533 15.7053 16.5355 15.7053C16.0178 15.7053 15.598 15.2855 15.598 14.7678L15.598 11.7278L10.1274 17.1984C9.76126 17.5646 9.16767 17.5646 8.80155 17.1984C8.43544 16.8323 8.43544 16.2387 8.80155 15.8726L14.2722 10.402H11.2322C10.7145 10.402 10.2947 9.98223 10.2947 9.46447C10.2947 8.9467 10.7145 8.52697 11.2322 8.52697L16.5355 8.52697Z" fill="#FFF1EA"/></svg>
mixin faq(text)
	.section-faq__item
		.section-faq__name= text
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12ZM15.5303 12.4697C15.8232 12.7626 15.8232 13.2374 15.5303 13.5303L12.5303 16.5303C12.2374 16.8232 11.7626 16.8232 11.4697 16.5303L8.46967 13.5303C8.17678 13.2374 8.17678 12.7626 8.46967 12.4697C8.76256 12.1768 9.23744 12.1768 9.53033 12.4697L11.25 14.1893L11.25 8C11.25 7.58579 11.5858 7.25 12 7.25C12.4142 7.25 12.75 7.58579 12.75 8L12.75 14.1893L14.4697 12.4697C14.7626 12.1768 15.2374 12.1768 15.5303 12.4697Z" fill="#1A96D5" /></svg>
		.section-faq__text
			p Уборка каюты (1 раз в день, в утреннее время)
			p Смена постельного белья  (1 раз в день, в утреннее время)
			p Смена полотенец  (1 раз в день, в утреннее время)
			p Бутилированная вода в каюту (0,5 л/чел.), ежедневное пополнение 
mixin list-links (...items)
	ul
		each item in items
			li
				a(href="")= item
mixin list (...items)
	ul
		each item in items
			li= item
mixin custom-checkbox(text)
	label.custom-checkbox
		input.custom-checkbox__checkbox(type="checkbox" name="")
		span.custom-checkbox__span
		span.custom-checkbox__label= text 
		
mixin custom-checkbox-agree(text)
	label.custom-checkbox
		input.custom-checkbox__checkbox(type="checkbox" name="")
		span.custom-checkbox__span
		span.custom-checkbox__label Я прочитал и принимаю условия <a href="">Политики конфиденциальности</a> и <a href="">Правил обработки персональных данных</a>
//- mixin custom-checkbox_orange(text)
//- 	label.custom-checkbox.custom-checkbox_orange
//- 		input.custom-checkbox__checkbox(type="checkbox" name="")
//- 		span.custom-checkbox__span
//- 		span.custom-checkbox__label= text
mixin svg(name)
	svg&attributes(attributes)
		use(xlink:href=`./img/sprite.svg#${name}`)
//- mixin news(imgsrc, category, name, preview, views)
//- 	.news__item
//- 		a.news__img(style='background-image:url(./img/' + imgsrc +')')
//- 		.news__desc
//- 			.accent-category.news__category= category
//- 			a.news__name(href="")= name
//- 			.news__preview= preview
//- 			.news__views
//- 				+svg("eye")
//- 				span= views
//- mixin switch 
//- 	label.switch
//- 		input(type="checkbox")
//- 		span.switch__slider